<section id="slide-1">
  <div class="slide" data-0="background-color:rgb(255,0,255);" data-984="background-color:rgb(0,0,255);">
    <div class="story"
      data-bottom="opacity: 1"
      data-106-top="opacity: 0"
      data-anchor-target="#slide-1 h1">
      <h1>This is the first div</h1>
    </div>
  </div>
</section>

<section id="slide-2">
  <div class="slide" data-984="background-color:rgb(0,0,255);transform:rotate(0deg);" data-1968="background-color:rgb(255,0,0);transform:rotate(360deg);">
    I am in the second div
  </div>
</section>

<section id="slide-3">
  <div class="slide" data-1968="background-color:rgb(0,0,255);transform[bounce]:rotate(0deg);" data-top-bottom="background-color:rgb(255,0,0);transform[bounce]:rotate(360deg);">
  I
  </div>
</section>

<section id="slide-4">
  <div class="slide" data--100-bottom="background-color:rgb(0,0,255);transform[bounce]:rotate(0deg);" data-top-bottom="background-color:rgb(255,0,0);transform[bounce]:rotate(360deg);">

  </div>
</section>