<section id="cat-slide-1" class="homeSlide">
	<div class="bcg"
		data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-anchor-target="#cat-slide-1">

		<div class="catContainer">

			<div id="cat1" class="catPic"
				data--100-top="bottom: 100px; opacity: 1;"
				data-top="bottom: 1200px; opacity: 0;"
				data-anchor-target="#cat-slide-1"></div>

			<div id="cat2" class="catPic"
				data-100-bottom="bottom: 100px; opacity: 1;"
				data-top-bottom="bottom: 1200px; opacity: 0;"
				data-anchor-target="#cat-slide-1"></div>

			<div class="catContent"
				data-center="bottom: 200px; opacity: 1"
	      data-top="bottom: 1200px; opacity: 0"
	      data-anchor-target="#cat-slide-1 h2">

				<h2>
					Bob and weave!
				</h2>

			</div>
		</div>
	</div>
</section>

<section id="cat-slide-2" class="homeSlide">
	<div class="bcg"
		data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-bottom-top="background-position: 50% 100px;"
    data-anchor-target="#cat-slide-2">



  	<div class="catContainer">

			<div id="cat3" class="catPic"
				data-bottom-top="left:-20%;transform:rotate(-140deg);"
				data-200-center="left:60%;transform:rotate(360deg);"
				data--200-bottom="left:60%;transform:rotate(360deg);"
				data--400-bottom="left:120%;transform:rotate(780deg);"
				data-anchor-target="#cat-slide-2">WHERE IS CAT</div>
<!-- positive number (data-400-center) makes it land here BEFORE getting to center position -->
<!-- negative number (data--400) makes it happen 400 px LATER -->

			<div id="cat4" class="catPic"
				data-bottom-top="left:120%;transform:rotate(360deg);"
				data-50-center="left:33%;transform:rotate(0deg);"
				data--100-bottom="left:33%;transform:rotate(0deg);"
				data--500-bottom="left:-20%;transform:rotate(-360deg);"
				data-anchor-target="#cat-slide-2">HELLO CAT</div>

  		<div class="catContent"
				data-center="opacity: 1"
        data-center-top="opacity: 0"
        data--100-bottom="opacity: 0;"
        data-anchor-target="#cat-slide-2">

    		<h2>Tuck and roll!</h2>
  		</div>
    	</div>
	</div>
</section>

<section id="cat-slide-3" class="homeSlide">
	<div class="bcg"
		data-center="background-position: 50% 0px;"
	  data-top-bottom="background-position: 50% -100px;"
	  data-bottom-top="background-position: 50% 100px;"
		data-anchor-target="#cat-slide-3">

  	<div class="catContainer">

			<div id="cat5" class="catPic"
				data--100-bottom-top="background-size: 100%; opacity: 0;"
				data--300-bottom-top="background-size: 100%; opacity: 1; width: 200px; height: 200px; border-radius: 100px;"
				data-300-top-bottom="background-size: 200%; width: 400px; height: 400px; border-radius: 200px;opacity: 0;"
				data-anchor-target="#cat-slide-3"></div>

			<div id="cat6" class="catPic"
				data--200-bottom-top="background-size: 100%; opacity: 0;"
				data--400-bottom-top="background-size: 100%; opacity: 1; width: 200px; height: 200px; border-radius: 100px;"
				data-300-top-bottom="background-size: 300%; width: 600px; height: 600px; border-radius: 300px; opacity: 0;"
				data-anchor-target="#cat-slide-3"></div>

			<div class="catContent"
				data--50-bottom="opacity: 0;"
				data--200-bottom="opacity: 1;"
				data-anchor-target="#cat-slide-3 h2">
    		<h2>Cats are ghosts!</h2>
  		</div>
  	</div>

  </div>
</section>

<section id="cat-slide-4" class="homeSlide">
	<div class="bcg"
		data-center="background-position: 50% 0px;"
		data-top-bottom="background-position: 50% -100px;"
		data-bottom-top="background-position: 50% 100px;"
		data-anchor-target="#cat-slide-4">

  	<div class="catContainer">
			<div class="catContent"
				data-bottom-top="opacity: 0"
        data-25p-top="opacity: 0"
        data-top="opacity: 1"
				data--100-top="opacity: 0"
        data-anchor-target="#cat-slide-4">

    		<h2>and share mine.</h2>
  		</div>
  	</div>

  </div>
</section>

<section id="cat-slide-5" class="homeSlide">
	<div class="bcg"
		data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-bottom-top="background-position: 50% 100px;"
    data-anchor-target="#cat-slide-5">

		<div class="catContainer">
			<div class="catContent"
				data-center="bottom: 200px; opacity: 1"
	      data-top="bottom: 1200px; opacity: 0"
	      data-anchor-target="#cat-slide-5 h2">

				<h2>
					Now we're moving!
				</h2>

			</div>
		</div>
	</div>
</section>

<section id="cat-slide-6" class="homeSlide">
	<div class="bcg"
		data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-bottom-top="background-position: 50% 100px;"
    data-anchor-target="#cat-slide-6">

  	<div class="catContainer">
  		<div class="catContent"
				data-center="opacity: 1"
        data-center-top="opacity: 0"
        data--100-bottom="opacity: 0;"
        data-anchor-target="#cat-slide-6">

    		<h2>great for story telling websites.</h2>
  		</div>
    	</div>
	</div>
</section>

<section id="cat-slide-7" class="homeSlide">
	<div class="bcg"
		data-center="background-position: 50% 0px;"
	  data-top-bottom="background-position: 50% -100px;"
	  data-bottom-top="background-position: 50% 100px;"
		data-anchor-target="#cat-slide-7">
  	<div class="catContainer">
			<div class="catContent"
				data--50-bottom="opacity: 0;"
				data--200-bottom="opacity: 1;"
				data-anchor-target="#cat-slide-7 h2">
    		<h2>Now go and create your own story</h2>
  		</div>
  	</div>

  </div>
</section>

<section id="cat-slide-8" class="homeSlide">
	<div class="bcg"
		data-center="background-position: 50% 0px;"
		data-top-bottom="background-position: 50% -100px;"
		data-bottom-top="background-position: 50% 100px;"
		data-anchor-target="#cat-slide-8">

  	<div class="catContainer">
			<div class="catContent"
				data-bottom-top="opacity: 0"
        data-25p-top="opacity: 0"
        data-top="opacity: 1"
        data-anchor-target="#cat-slide-8">

    		<h2>and share mine.</h2>
  		</div>
  	</div>

  </div>
</section>

<!-- <div class="cat-slide"></div> -->
